h1 {
    background-color: blue;
    width: auto;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    text-align: right;
    padding-top: 10px;
}
.first {
    font-size: 30px;
    text-align: center;
    background-color: chartreuse;
}

.container {
    outline-style: double;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
p {
    background-color: lightblue;
    font-size: 30px;
}
.second {
    outline-style: outset;
    font-size: 25px;
    outline-color: red;
    background-color: yellow;
}
.third {
    font-size: 30px;
    outline-style: groove;
    background-color: turquoise;
    margin-bottom: 20px;
}
.four {
    font-size: 30px; 
   text-align: center; 
   background-color: violet;
   margin-left: 10px;
   margin-right: 10px;
}

